<br>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/api/">Home</a>

    <a class="navbar-brand" href="/api/signup">Sign up</a>
    <a class="navbar-brand" href="/api/login">Login</a>
    <a class="navbar-brand" href="/api/logout">logout</a>
  </nav>
