<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
</head>
<body class="container">

<header>
  <%- include('./header'); %>
</header>

<main>
  <div class="jumbotron">
    <h2>This is great</h2>
    <p>Welcome to our Website</p>
    <a class="navbar-brand" href="/api/getAllUsers">See all getUsers</a>

  </div>
</main>

<footer>
  <%- include('./footer'); %>
</footer>

</body>
</html>