<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
</head>
<body class="container">

<header>
  <%- include('./header'); %>
</header>

<main>
  <div class="jumbotron">
    <h2>Login</h2>
    <form action="/api/login" method="POST">
        <input type="text" name="email"
            placeholder="Email">
        <input type="password" name="password" 
            placeholder="Password">
        <button>Login</button>
        <hr>
    </form>
    <p>Forgot your password? <a href="/api/forgotPassword">Click here!</a></p>
  </div>

</main>

<footer>
  <%- include('./footer'); %>
</footer>

</body>
</html>