<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
</head>
<body class="container">

<header>
  <%- include('./header'); %>
</header>

<main>
  <div class="jumbotron">
    <form action="/api/resetPassword/<%- token %>" method="PATCH">
        <input type="password" name="password" 
            placeholder="Enter New Password">
        <input type="password" name="passwordConfirm" 
            placeholder="Re-enter New Password">
        <button>Change password</button>
    </form>
  </div>
</main>

<footer>
  <%- include('./footer'); %>
</footer>

</body>
</html>